src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="90b6aa84-44cc-4bd4-8eef-976be26df5af" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="4db0f790-dcd1-478c-adab-605a10ada9cf" >
		<http:listener doc:name="Listener" doc:id="b07befef-cfe7-4286-abb6-6c5fd6583bd1" path="/sample" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="c2659185-1148-452e-8359-6d546b115848" message='"sample API Logger"'/>
		<set-payload value='#["Sample test"]' doc:name="Set Payload" doc:id="75f4bc00-26ce-41bc-8de4-f1f5a02e6c8e" />
	</flow>
</mule>
